/*  your css code here. If applicable */
body {
	background-color:#f5f5f5;
}

div {
	padding:10px;
	background-color: #f5f5f5;
}

.box {
	padding: 10px; 
	border:1px solid #f6f6f6;; 
	background-color:white;
}

.author {
	text-align:right;
	font-style:italic;
}